@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Map Service</h2>
    <p class="lead">You can save your location with note, and view geo-tagged note of other users</p>
    <p><a href="/map/index" class="btn btn-primary btn-lg">Geo Page&raquo;</a></p>
</div>
